In [30]:
import numpy as np
import pandas as pd
import json
from pandas.io.json import json_normalize
import seaborn as sns
# Import matplotlib.pyplot
import matplotlib.pyplot as plt

#Understanding the data
dictionary = pd.read_excel("Desktop/Data Scientist/Capstone1/Data/neis-data-dictionary_terms.xlsx")
main       = pd.read_excel("Desktop/Data Scientist/Capstone1/Data/neisdatagovhack_Main.xlsx")
dict_df = pd.DataFrame.from_dict(dictionary, orient='columns', dtype=None)
main_df = pd.DataFrame.from_dict(main, orient='columns', dtype=None)
print(dict_df)
print(main_df.info())
print(main_df.describe())

         Variable name                               Variable description  \
0          business_id                 Unique identifier for the business
1           start_date  The date the NEIS participant entered the NEIS...
2             end_date  The date the NEIS participant exited the NEIS ...
3            neis_type  The employment services program in which the b...
4          exit_reason  The reason for which the NEIS participant exit...
5           successful  Indicates whether the NEIS participant success...
6          anzsic_code                 The industry code for the business
7        industry_type       The broad industry category for the business
8                state             The state or territory of the business
9                metro  Indicates whether the location of the business...
10           age_group                  Age group of the NEIS participant
11           gender_cd              Sex indicator of the NEIS participant
12      indigenous_ind  Indicates whether the NEIS participant is Indi...
13     ex_offender_ind  Indicates whether the NEIS participant is has ...
14            nesb_ind  Indicates whether the NEIS participant was fro...
15         refugee_ind  Indicates whether the NEIS participant was a r...
16      disability_ind  Indicates whether the NEIS participant had a d...
17        homeless_ind  Indicates whether the NEIS participant was hom...
18     sole_parent_ind  Indicates whether the NEIS participant was a s...
19  neis_allowance_ind  Indicates whether the NEIS participant receive...
20            surveyed  Indicates whether the NEIS participant complet...
21            sv_month  The month the NEIS participant completed the N...
22             sv_year  The year the NEIS participant completed the NE...
23     sv_in_operation  Indicates whether the NEIS business was still ...
24       sv_hours_work  The number of hours the NEIS participant works...
25       sv_staff_lt35  The number of employees of the NEIS business w...
26       sv_staff_gt35  The number of employees of the NEIS business w...
27        sv_end_train  Indicates whether the NEIS business ended due ...
28       sv_end_mentor  Indicates whether the NEIS business ended due ...
29       sv_end_profit  Indicates whether the NEIS business ended due ...
30          sv_end_dem  Indicates whether the NEIS business ended due ...
31          sv_end_loc  Indicates whether the NEIS business ended due ...
32       sv_end_health  Indicates whether the NEIS business ended due ...
33          sv_end_oth  Indicates whether the NEIS business ended due ...
34    sv_sat_bus_train  The level of satisfaction with the small busin...
35       sv_sat_mentor  The level of satisfaction with the quality of ...
36   sv_sat_tailor_sup  The level of satisfaction with the tailoring o...
37      sv_sat_overall  The level of satisfaction with the overall qua...

   Variable coding                                Variable categories  \
0          numeric                                                NaN
1             date                                                NaN
2             date                                                NaN
3        character  NEI4 = Job Services Australia (JSA) - up to 30...
4        character                                                NaN
5        character  Y = successful completion (if exit_reason = co...
6          numeric                                                NaN
7        character                                                NaN
8        character                                                NaN
9          numeric                            1 = Metro\n0 = Regional
10       character                                                NaN
11       character                               F = Female\nM = Male
12       character                                    Y = Yes\nN = No
13       character                                    Y = Yes\nN = No
14       character                                    Y = Yes\nN = No
15       character                                    Y = Yes\nN = No
16       character                                    Y = Yes\nN = No
17       character                                    Y = Yes\nN = No
18       character                                    Y = Yes\nN = No
19       character                                    Y = Yes\nN = No
20       character                                    Y = Yes\nN = No
21         numeric  1 = January\n2 = February\n3 = March\n4 = Apri...
22         numeric                                                NaN
23       character  . = Did not complete the survey or No response...
24         numeric                                                NaN
25         numeric                                                NaN
26         numeric                                                NaN
27         numeric  . = Did not complete the survey or No response...
28         numeric  . = Did not complete the survey or No response...
29         numeric  . = Did not complete the survey or No response...
30         numeric  . = Did not complete the survey or No response...
31         numeric  . = Did not complete the survey or No response...
32         numeric  . = Did not complete the survey or No response...
33         numeric  . = Did not complete the survey or No response...
34         numeric  . = Did not complete the survey or No response...
35         numeric  . = Did not complete the survey or No response...
36         numeric  . = Did not complete the survey or No response...
37         numeric  . = Did not complete the survey or No response...

                                                Notes
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 NaN
5                                                 NaN
6                                                 NaN
7                  Based on conversion of anzsic_code
8                                                 NaN
9                                                 NaN
10                                                NaN
11                                                NaN
12                                                NaN
13                                                NaN
14                                                NaN
15                                                NaN
16                                                NaN
17                                                NaN
18                                                NaN
19                                                NaN
20  If surveyed = Y then the following 'sv_' varia...
21                When surveyed = N then sv_month = .
22                 When surveyed = N then sv_year = .
23         When surveyed = N then sv_in_operation = .
24  Asked if sv_in_operation = Y.                 ...
25  Asked if sv_in_operation = Y.                 ...
26  Asked if sv_in_operation = Y.                 ...
27  Asked if sv_in_operation = N.                 ...
28  Asked if sv_in_operation = N.                 ...
29  Asked if sv_in_operation = N.                 ...
30  Asked if sv_in_operation = N.                 ...
31  Asked if sv_in_operation = N.                 ...
32  Asked if sv_in_operation = N.                 ...
33  Asked if sv_in_operation = N.                 ...
34   When surveyed = N then sv_sat_business_train = .
35           When surveyed = N then sv_sat_mentor = .
36       When surveyed = N then sv_sat_tailor_sup = .
37          When surveyed = N then sv_sat_overall = .
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53646 entries, 0 to 53645
Data columns (total 38 columns):
business_id           53646 non-null int64
start_date            53646 non-null datetime64[ns]
end_date              53646 non-null datetime64[ns]
neis_type             53646 non-null object
exit_reason           53599 non-null object
successful            53646 non-null object
anzsic_code           53596 non-null float64
industry_type         53646 non-null object
state                 53646 non-null object
metro                 53646 non-null int64
age_group             53646 non-null object
gender_cd             53646 non-null object
indigenous_ind        53646 non-null object
ex_offender_ind       53646 non-null object
nesb_ind              53646 non-null object
refugee_ind           53646 non-null object
disability_ind        53646 non-null object
homeless_ind          53646 non-null object
sole_parent_ind       53646 non-null object
neis_allowance_ind    53646 non-null object
surveyed              53646 non-null object
sv_month              11147 non-null float64
sv_year               11147 non-null float64
sv_in_operation       53646 non-null object
sv_hours_work         8102 non-null float64
sv_staff_lt35h        5803 non-null float64
sv_staff_gt35h        5296 non-null float64
sv_end_train          3049 non-null float64
sv_end_mentor         3075 non-null float64
sv_end_profit         3227 non-null float64
sv_end_dem            3144 non-null float64
sv_end_loc            2969 non-null float64
sv_end_health         3044 non-null float64
sv_end_oth            2699 non-null float64
sv_sat_bus_train      10700 non-null float64
sv_sat_mentor         10593 non-null float64
sv_tailor_sup         10582 non-null float64
sv_sat_overall        10408 non-null float64
dtypes: datetime64[ns](2), float64(17), int64(2), object(17)
memory usage: 15.6+ MB
None

        business_id   anzsic_code         metro      sv_month       sv_year  \
count  53646.000000  53596.000000  53646.000000  11147.000000  11147.000000
mean   26827.169258   7423.195780      0.058308      6.606262   2012.755898
std    15488.324811   2428.965571      0.234327      3.435323      1.818195
min        1.000000    100.000000      0.000000      1.000000   2009.000000
25%    13414.250000   5259.000000      0.000000      4.000000   2011.000000
50%    26827.500000   7869.000000      0.000000      6.000000   2012.000000
75%    40239.750000   9525.000000      0.000000     10.000000   2014.000000
max    53654.000000   9901.000000      1.000000     12.000000   2017.000000

       sv_hours_work  sv_staff_lt35h  sv_staff_gt35h  sv_end_train  \
count    8102.000000     5803.000000     5296.000000   3049.000000
mean       35.280449        0.558849        0.405778      1.296491
std        21.909007        2.007426        2.342488      0.598547
min         0.000000        0.000000        0.000000      1.000000
25%        20.000000        0.000000        0.000000      1.000000
50%        35.000000        0.000000        0.000000      1.000000
75%        45.000000        1.000000        0.000000      1.000000
max       120.000000       99.000000       55.000000      3.000000

       sv_end_mentor  sv_end_profit   sv_end_dem   sv_end_loc  sv_end_health  \
count    3075.000000    3227.000000  3144.000000  2969.000000    3044.000000
mean        1.386992       2.335606     1.986323     1.458404       1.499671
std         0.684782       0.821582     0.823689     0.712119       0.781607
min         1.000000       1.000000     1.000000     1.000000       1.000000
25%         1.000000       2.000000     1.000000     1.000000       1.000000
50%         1.000000       3.000000     2.000000     1.000000       1.000000
75%         2.000000       3.000000     3.000000     2.000000       2.000000
max         3.000000       3.000000     3.000000     3.000000       3.000000

        sv_end_oth  sv_sat_bus_train  sv_sat_mentor  sv_tailor_sup  \
count  2699.000000      10700.000000   10593.000000   10582.000000
mean      2.086328          4.081682       3.864628       3.716689
std       0.923077          1.177991       1.325153       1.404108
min       1.000000          1.000000       1.000000       1.000000
25%       1.000000          4.000000       4.000000       3.000000
50%       2.000000          4.000000       4.000000       4.000000
75%       3.000000          5.000000       5.000000       5.000000
max       3.000000          5.000000       5.000000       5.000000

       sv_sat_overall
count    10408.000000
mean         3.877786
std          1.305337
min          1.000000
25%          4.000000
50%          4.000000
75%          5.000000
max          5.000000

In [14]:
dict_df.columns = ['var_name','var_descr','var_coding','var_categ','notes']
#Data Cleaning
dict_df = dict_df.replace(np.nan, '', regex=True)
main_df = main_df.replace(np.nan, '', regex=True)
print(dict_df)
print(main_df.head(20))

              var_name                                          var_descr  \
0          business_id                 Unique identifier for the business
1           start_date  The date the NEIS participant entered the NEIS...
2             end_date  The date the NEIS participant exited the NEIS ...
3            neis_type  The employment services program in which the b...
4          exit_reason  The reason for which the NEIS participant exit...
5           successful  Indicates whether the NEIS participant success...
6          anzsic_code                 The industry code for the business
7        industry_type       The broad industry category for the business
8                state             The state or territory of the business
9                metro  Indicates whether the location of the business...
10           age_group                  Age group of the NEIS participant
11           gender_cd              Sex indicator of the NEIS participant
12      indigenous_ind  Indicates whether the NEIS participant is Indi...
13     ex_offender_ind  Indicates whether the NEIS participant is has ...
14            nesb_ind  Indicates whether the NEIS participant was fro...
15         refugee_ind  Indicates whether the NEIS participant was a r...
16      disability_ind  Indicates whether the NEIS participant had a d...
17        homeless_ind  Indicates whether the NEIS participant was hom...
18     sole_parent_ind  Indicates whether the NEIS participant was a s...
19  neis_allowance_ind  Indicates whether the NEIS participant receive...
20            surveyed  Indicates whether the NEIS participant complet...
21            sv_month  The month the NEIS participant completed the N...
22             sv_year  The year the NEIS participant completed the NE...
23     sv_in_operation  Indicates whether the NEIS business was still ...
24       sv_hours_work  The number of hours the NEIS participant works...
25       sv_staff_lt35  The number of employees of the NEIS business w...
26       sv_staff_gt35  The number of employees of the NEIS business w...
27        sv_end_train  Indicates whether the NEIS business ended due ...
28       sv_end_mentor  Indicates whether the NEIS business ended due ...
29       sv_end_profit  Indicates whether the NEIS business ended due ...
30          sv_end_dem  Indicates whether the NEIS business ended due ...
31          sv_end_loc  Indicates whether the NEIS business ended due ...
32       sv_end_health  Indicates whether the NEIS business ended due ...
33          sv_end_oth  Indicates whether the NEIS business ended due ...
34    sv_sat_bus_train  The level of satisfaction with the small busin...
35       sv_sat_mentor  The level of satisfaction with the quality of ...
36   sv_sat_tailor_sup  The level of satisfaction with the tailoring o...
37      sv_sat_overall  The level of satisfaction with the overall qua...

   var_coding                                          var_categ  \
0     numeric
1        date
2        date
3   character  NEI4 = Job Services Australia (JSA) - up to 30...
4   character
5   character  Y = successful completion (if exit_reason = co...
6     numeric
7   character
8   character
9     numeric                            1 = Metro\n0 = Regional
10  character
11  character                               F = Female\nM = Male
12  character                                    Y = Yes\nN = No
13  character                                    Y = Yes\nN = No
14  character                                    Y = Yes\nN = No
15  character                                    Y = Yes\nN = No
16  character                                    Y = Yes\nN = No
17  character                                    Y = Yes\nN = No
18  character                                    Y = Yes\nN = No
19  character                                    Y = Yes\nN = No
20  character                                    Y = Yes\nN = No
21    numeric  1 = January\n2 = February\n3 = March\n4 = Apri...
22    numeric
23  character  . = Did not complete the survey or No response...
24    numeric
25    numeric
26    numeric
27    numeric  . = Did not complete the survey or No response...
28    numeric  . = Did not complete the survey or No response...
29    numeric  . = Did not complete the survey or No response...
30    numeric  . = Did not complete the survey or No response...
31    numeric  . = Did not complete the survey or No response...
32    numeric  . = Did not complete the survey or No response...
33    numeric  . = Did not complete the survey or No response...
34    numeric  . = Did not complete the survey or No response...
35    numeric  . = Did not complete the survey or No response...
36    numeric  . = Did not complete the survey or No response...
37    numeric  . = Did not complete the survey or No response...

                                                notes
0
1
2
3
4
5
6
7                  Based on conversion of anzsic_code
8
9
10
11
12
13
14
15
16
17
18
19
20  If surveyed = Y then the following 'sv_' varia...
21                When surveyed = N then sv_month = .
22                 When surveyed = N then sv_year = .
23         When surveyed = N then sv_in_operation = .
24  Asked if sv_in_operation = Y.                 ...
25  Asked if sv_in_operation = Y.                 ...
26  Asked if sv_in_operation = Y.                 ...
27  Asked if sv_in_operation = N.                 ...
28  Asked if sv_in_operation = N.                 ...
29  Asked if sv_in_operation = N.                 ...
30  Asked if sv_in_operation = N.                 ...
31  Asked if sv_in_operation = N.                 ...
32  Asked if sv_in_operation = N.                 ...
33  Asked if sv_in_operation = N.                 ...
34   When surveyed = N then sv_sat_business_train = .
35           When surveyed = N then sv_sat_mentor = .
36       When surveyed = N then sv_sat_tailor_sup = .
37          When surveyed = N then sv_sat_overall = .
    business_id start_date   end_date neis_type  \
0             1 2013-09-26 2014-09-24      NEI4
1             2 2014-06-05 2015-06-03      NEI4
2             3 2015-04-09 2016-01-17      NEI4
3             4 2009-12-24 2010-12-22      NEI4
4             5 2015-09-10 2016-09-07      NEI5
5             6 2008-05-29 2009-02-05      NEI4
6             7 2008-06-26 2009-06-24      NEI4
7             8 2008-04-17 2009-04-15      NEI4
8             9 2007-12-13 2008-09-30      NEI4
9            10 2016-06-30 2016-09-03      NEI5
10           11 2015-12-03 2016-04-21      NEI5
11           12 2009-05-28 2010-05-26      NEI4
12           13 2009-12-17 2010-07-15      NEI4
13           14 2012-05-10 2012-10-23      NEI4
14           15 2007-07-12 2008-03-19      NEI4
15           16 2010-09-02 2011-09-30      NEI4
16           17 2010-06-17 2011-06-15      NEI4
17           18 2015-08-27 2016-08-24      NEI5
18           19 2008-08-21 2009-08-19      NEI4
19           20 2012-05-24 2013-05-22      NEI4

                               exit_reason successful anzsic_code  \
0                   Completed Successfully          Y        7112
1                   Completed Successfully          Y        9529
2   Business not Operating According to BP          N        7866
3                   Completed Successfully          Y        6644
4                   Completed Successfully          Y        7865
5                Business no longer viable          N        9523
6         Failed to lodge Income Statement          N        9529
7                   Completed Successfully          Y        9900
8   Business not Operating According to BP          N        5259
9                     Absent due to Travel          N        5129
10   Left/Returned to full-time Employment          N        8440
11                  Completed Successfully          Y        9330
12    Left due to personal/medical reasons          N        9259
13   Left/Returned to full-time Employment          N        9900
14    Left due to personal/medical reasons          N        5259
15                  Completed Successfully          Y        5243
16                  Completed Successfully          Y        7852
17                  Completed Successfully          Y        5241
18                  Completed Successfully          Y        4714
19                  Completed Successfully          Y        7834

                industry_type state  metro      ...       sv_end_mentor  \
0               communication    SA      0      ...
1          personal_and_other   VIC      0      ...
2       property_and_business   NSW      0      ...
3                   transport   QLD      0      ...
4       property_and_business   QLD      1      ...
5          personal_and_other    WA      0      ...
6          personal_and_other   VIC      0      ...
7                       other   VIC      0      ...
8                retail_trade   NSW      0      ...
9                retail_trade   QLD      1      ...
10                  education   QLD      1      ...
11  cultural_and_recreational   VIC      0      ...
12  cultural_and_recreational   VIC      0      ...
13                      other   QLD      0      ...
14               retail_trade    SA      0      ...
15               retail_trade   QLD      0      ...
16      property_and_business   VIC      0      ...
17               retail_trade   QLD      0      ...
18            wholesale_trade   NSW      0      ...
19      property_and_business   VIC      0      ...

   sv_end_profit sv_end_dem sv_end_loc sv_end_health sv_end_oth  \
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

   sv_sat_bus_train sv_sat_mentor sv_tailor_sup sv_sat_overall
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15                5             4             5              4
16
17
18
19                4             5             5              5

[20 rows x 38 columns]

In [54]:
print(main_df.columns)
print(dict_df.columns)

# Different age groups that are successfull in different industries
main_melt = pd.melt(main_df,id_vars=['industry_type','successful'], value_vars=['age_group'],var_name='Age',value_name='AgeVal')

main_pivot = main_melt.pivot_table(values=None, index=['industry_type','successful'], columns='AgeVal', aggfunc='count', fill_value=None, margins=False, dropna=True, margins_name='All')

print(main_pivot)

Index(['business_id', 'start_date', 'end_date', 'neis_type', 'exit_reason',
       'successful', 'anzsic_code', 'industry_type', 'state', 'metro',
       'age_group', 'gender_cd', 'indigenous_ind', 'ex_offender_ind',
       'nesb_ind', 'refugee_ind', 'disability_ind', 'homeless_ind',
       'sole_parent_ind', 'neis_allowance_ind', 'surveyed', 'sv_month',
       'sv_year', 'sv_in_operation', 'sv_hours_work', 'sv_staff_lt35h',
       'sv_staff_gt35h', 'sv_end_train', 'sv_end_mentor', 'sv_end_profit',
       'sv_end_dem', 'sv_end_loc', 'sv_end_health', 'sv_end_oth',
       'sv_sat_bus_train', 'sv_sat_mentor', 'sv_tailor_sup', 'sv_sat_overall'],
      dtype='object')
Index(['Variable name', 'Variable description', 'Variable coding',
       'Variable categories', 'Notes'],
      dtype='object')
                                             Age                         \
AgeVal                                     15_19  20_24   25_29   30_34
industry_type                   successful
accommodation_cafes_restaurants N            1.0   15.0    26.0    26.0
                                Y            4.0   19.0    68.0    79.0
agriculture_forestry_fishing    N            3.0   12.0    40.0    24.0
                                Y            1.0   14.0    52.0    65.0
communication                   N            1.0    7.0    21.0    19.0
                                Y            NaN    7.0    18.0    33.0
construction                    N            4.0   43.0   104.0    96.0
                                Y            8.0   79.0   197.0   294.0
cultural_and_recreational       N            7.0  175.0   392.0   300.0
                                Y            7.0  438.0  1039.0   853.0
education                       N            1.0   19.0    62.0    64.0
                                Y            2.0   48.0   109.0   135.0
electricity_gas_water           N            NaN    1.0     2.0     2.0
                                Y            NaN    NaN     6.0    11.0
finance_and_insurance           N            NaN    4.0     7.0    12.0
                                Y            NaN    2.0    13.0    19.0
health_and_community            N            2.0   42.0    98.0   111.0
                                Y            1.0   76.0   260.0   298.0
manufacturing                   N           10.0  113.0   240.0   230.0
                                Y           12.0  189.0   493.0   462.0
mining                          N            NaN    NaN     NaN     4.0
                                Y            NaN    NaN     NaN     1.0
other                           N            5.0   74.0   119.0   125.0
                                Y            5.0   85.0   214.0   220.0
personal_and_other              N           23.0  358.0   668.0   627.0
                                Y           22.0  586.0  1202.0  1207.0
property_and_business           N           12.0  285.0   511.0   491.0
                                Y           13.0  418.0  1015.0  1010.0
retail_trade                    N           11.0  214.0   381.0   340.0
                                Y           12.0  232.0   575.0   584.0
transport                       N            NaN   12.0    17.0    20.0
                                Y            NaN   12.0    50.0    68.0
wholesale_trade                 N            2.0   17.0    34.0    41.0
                                Y            NaN   32.0    75.0   114.0

                                                                           \
AgeVal                                       35_39   40_44   45_49  50_54
industry_type                   successful
accommodation_cafes_restaurants N             32.0    43.0    38.0   33.0
                                Y             60.0    81.0    59.0   72.0
agriculture_forestry_fishing    N             28.0    28.0    33.0   23.0
                                Y             80.0   106.0    82.0   65.0
communication                   N             15.0    13.0     8.0   10.0
                                Y             17.0    28.0    21.0   17.0
construction                    N            143.0    94.0    93.0   53.0
                                Y            316.0   319.0   263.0  217.0
cultural_and_recreational       N            240.0   188.0   179.0  115.0
                                Y            645.0   529.0   417.0  343.0
education                       N             64.0    73.0    76.0   71.0
                                Y            140.0   147.0   181.0  165.0
electricity_gas_water           N              3.0     NaN     3.0    1.0
                                Y              9.0    15.0    11.0    7.0
finance_and_insurance           N             16.0    10.0    10.0    4.0
                                Y             19.0    22.0    24.0   13.0
health_and_community            N            115.0   129.0   103.0   88.0
                                Y            271.0   280.0   274.0  232.0
manufacturing                   N            195.0   183.0   178.0  118.0
                                Y            396.0   432.0   355.0  339.0
mining                          N              NaN     1.0     NaN    1.0
                                Y              1.0     3.0     4.0    1.0
other                           N            120.0   128.0    90.0  104.0
                                Y            229.0   211.0   227.0  189.0
personal_and_other              N            625.0   611.0   464.0  371.0
                                Y           1279.0  1282.0  1172.0  910.0
property_and_business           N            519.0   512.0   440.0  368.0
                                Y           1129.0  1090.0  1027.0  797.0
retail_trade                    N            317.0   299.0   237.0  152.0
                                Y            636.0   584.0   512.0  418.0
transport                       N             29.0    24.0    33.0   14.0
                                Y             73.0    73.0    59.0   53.0
wholesale_trade                 N             41.0    31.0    38.0   32.0
                                Y            103.0   111.0    76.0   72.0


AgeVal                                      55_59    60+
industry_type                   successful
accommodation_cafes_restaurants N            19.0    7.0
                                Y            56.0   36.0
agriculture_forestry_fishing    N            14.0   17.0
                                Y            49.0   42.0
communication                   N             5.0    7.0
                                Y            15.0    5.0
construction                    N            26.0   31.0
                                Y           107.0   76.0
cultural_and_recreational       N            77.0   48.0
                                Y           219.0  139.0
education                       N            45.0   29.0
                                Y           118.0   80.0
electricity_gas_water           N             1.0    1.0
                                Y             2.0    1.0
finance_and_insurance           N            11.0    4.0
                                Y            16.0   12.0
health_and_community            N            57.0   50.0
                                Y           147.0   78.0
manufacturing                   N            98.0   56.0
                                Y           209.0  140.0
mining                          N             2.0    1.0
                                Y             3.0    2.0
other                           N            58.0   24.0
                                Y           104.0   81.0
personal_and_other              N           281.0  159.0
                                Y           602.0  360.0
property_and_business           N           202.0  168.0
                                Y           516.0  365.0
retail_trade                    N           101.0   71.0
                                Y           282.0  172.0
transport                       N            13.0   11.0
                                Y            39.0   26.0
wholesale_trade                 N            13.0   12.0
                                Y            58.0   40.0

In [65]:
main_melt2 = pd.melt(main_df,id_vars=['industry_type','successful'], value_vars=['state'],var_name='State',value_name='StateVal')

main_pivot2 = main_melt2.pivot_table(values=None, index=['industry_type','successful'], columns='StateVal', aggfunc='count', fill_value=None, margins=False, dropna=True, margins_name='All')
print(main_pivot2)
#sns.set_style("whitegrid")
#sns.jointplot(x='successful',y='state',data=main_df)
# Display the plot
#plt.show()

                                           State                               \
StateVal                                     ACT     NSW    NT     QLD     SA
industry_type                   successful
accommodation_cafes_restaurants N            3.0   101.0   NaN    42.0   18.0
                                Y            4.0   174.0   1.0    75.0   56.0
agriculture_forestry_fishing    N            NaN    82.0   NaN    51.0   11.0
                                Y            3.0   202.0   2.0   109.0   40.0
communication                   N            NaN    43.0   NaN    19.0    7.0
                                Y            1.0    54.0   NaN    38.0   14.0
construction                    N            8.0   207.0   2.0   159.0   34.0
                                Y           15.0   500.0   7.0   408.0  121.0
cultural_and_recreational       N           28.0   616.0   3.0   326.0  146.0
                                Y           50.0  1447.0  17.0   829.0  379.0
education                       N            NaN   195.0   1.0   106.0   35.0
                                Y           10.0   401.0   1.0   200.0   91.0
electricity_gas_water           N            NaN     3.0   NaN     2.0    1.0
                                Y            NaN    25.0   NaN    11.0    4.0
finance_and_insurance           N            1.0    30.0   NaN    15.0    6.0
                                Y            NaN    50.0   NaN    25.0    8.0
health_and_community            N            8.0   254.0   1.0   180.0   44.0
                                Y           17.0   560.0   2.0   363.0  100.0
manufacturing                   N           15.0   468.0   1.0   318.0   98.0
                                Y           22.0   974.0   4.0   530.0  228.0
mining                          N            NaN     1.0   NaN     1.0    NaN
                                Y            NaN     5.0   NaN     3.0    NaN
other                           N            8.0    56.0   8.0   570.0    2.0
                                Y            8.0   107.0  17.0   840.0   11.0
personal_and_other              N           35.0  1346.0   9.0  1003.0  289.0
                                Y           55.0  2817.0  10.0  1926.0  559.0
property_and_business           N           26.0  1033.0   5.0   868.0  174.0
                                Y           50.0  2088.0  10.0  1605.0  401.0
retail_trade                    N           14.0   642.0   NaN   584.0  171.0
                                Y           33.0  1093.0   9.0   914.0  329.0
transport                       N            2.0    52.0   2.0    39.0   13.0
                                Y            4.0   145.0   1.0    96.0   27.0
wholesale_trade                 N            NaN    96.0   NaN    64.0   11.0
                                Y            2.0   244.0   NaN   119.0   46.0


StateVal                                      TAS     VIC      WA
industry_type                   successful
accommodation_cafes_restaurants N            14.0    47.0    15.0
                                Y            33.0   157.0    34.0
agriculture_forestry_fishing    N             6.0    53.0    19.0
                                Y            24.0   148.0    28.0
communication                   N             NaN    25.0    12.0
                                Y             1.0    37.0    16.0
construction                    N            24.0   165.0    88.0
                                Y            58.0   573.0   194.0
cultural_and_recreational       N            46.0   446.0   110.0
                                Y           138.0  1507.0   262.0
education                       N            15.0   119.0    33.0
                                Y            20.0   319.0    83.0
electricity_gas_water           N             NaN     6.0     2.0
                                Y             1.0    13.0     8.0
finance_and_insurance           N             NaN    18.0     8.0
                                Y             1.0    47.0     9.0
health_and_community            N            31.0   192.0    85.0
                                Y            64.0   616.0   195.0
manufacturing                   N            52.0   364.0   105.0
                                Y           120.0   934.0   215.0
mining                          N             NaN     3.0     4.0
                                Y             NaN     4.0     3.0
other                           N             NaN   201.0     2.0
                                Y             1.0   577.0     4.0
personal_and_other              N            46.0  1059.0   400.0
                                Y           131.0  2567.0   557.0
property_and_business           N            77.0   658.0   667.0
                                Y           151.0  1764.0  1311.0
retail_trade                    N            32.0   549.0   131.0
                                Y            84.0  1319.0   226.0
transport                       N             3.0    47.0    15.0
                                Y            16.0   122.0    42.0
wholesale_trade                 N            12.0    64.0    14.0
                                Y            31.0   213.0    26.0